<header>
  <h1>Tapper Tracker</h1>
</header>

<div id="userResponse" class="row">
  <!-- <button id="start-button">Start!</button> -->
  <div id="start-button-group">
    <button class="start-button" data-speed="slow">1x</button>
    <button class="start-button" data-speed="medium">2x</button>
    <button class="start-button" data-speed="fast">4x</button>
  </div>
  <button id="clicker" disabled> 'Tap' Here </button>
  <button id="finish-review">Done</button>
</div>

<hr>

<div id="charts" class="row">
  <div id="ITI-chart" class="col-md-6">
    <svg id="svg-iti">
      <g id="scroll-iti"></g>
    </svg>
  </div>

  <div id="RP-chart" class="col-md-6">
    <svg id="svg-rp">
    </svg>
  </div>
</div>

<hr>

<div id="countdown">
  Counting down...
</div>

<div class="highScores">
</div>

<div class="aboutPage">
  <div class="aboutWrapper">
    <h3> So what is tapper tracker? </h3>
    <hr>
    <p>
      Tapper Tracker is a visualization tool for beat keeping.
      When you 'Start' a metronome will begin playing - your goal is to tap along! With every tap, you can see how well you are maintaining the beat.
    </p>
    <h4> The Graphs </h4>
    <p>
      You have two different representations of your beats - a line graph and a circular graph.
    </p>
    <p>
      The line graph is the time between your taps (the green line is your average). The metronome is 800ms, which is why it is the middle value. Tap extra fast or slow to see how it affects the line plot!
    </p>
    <p>
      The circle graph will have one line for each tap you make. The line can be 'On Beat', 'Off Beat', or anywhere in between. Try tapping different speeds to see how the graph reacts.
    </p>
    <p>
      Choose what beat you are going to tap, and Tapper Tracker will track your progress and give you a score. If you make an account, you can be entered into the leaderboards!
    </p>
    <p>
      p.s. The score calculation could use a little work....
    </p>
  </div>
</div>

<audio id="trackPlayer" autoplay></audio>

