<header>
  <h1 class="titleFont">How to play:</h1>
</header>

<div class="row">
  <div class="col-sm-4 col-xs-3"></div>
  <div class="col-sm-4 col-xs-6">
  <ol align="left">
    <li>Press "Start" to begin the countdown.</li> 
    <li>Start tapping along with the beeps.</li>
    <li>That's it! Feel the rhythm, stay on that beat!</li>
  </ol>
  </div>
  <div class="col-sm-4 col-xs-3"></div>
</div>
<div id="userResponse" class="container-fluid">
  <div id="start-button-group" class="row">
    <div class="start-button onex btn btn-lg" data-speed="slow"><h2>Start</h2></div>
    </div>
  <div id="runtimeResponse">
    <button id="clicker" class="btn btn-lg btn-success" disabled> 'Tap' Here </button>
    <button id="finish-review" class="btn btn-lg btn-danger">Done</button>
    <button id="quit" class="btn btn-sm btn-danger">Abandon</button>
  </div>
</div>

<hr>

<div id="charts" class="row">
  <div id="ITI-chart" class="col-sm-4 col-sm-offset-1">
    <svg id="svg-iti">
      <g id="scroll-iti"></g>
    </svg>
  </div>
  <div id="RP-chart" class="col-sm-4 col-sm-offset-2">
    <svg id="svg-rp">
    </svg>
  </div>
</div>

<hr>

<div id="countdown">
</div>

<div id="scoreCard">
  Score:
  <div id="scoreReport">
  </div>
</div>

<!-- 
<div class="highScores">
</div> -->

<div class="aboutPage">
  <div class="aboutWrapper">
    <h3>About Tapper Tracker</h3>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
    <p>
      Tapper Tracker is inspired by my undergrad senior research study, which took a closer look at how humans (musically inclined and otherwise) perceive, extract, and reproduce a beat. If you're interested, check out <a href="https://www.youtube.com/watch?v=n7IX_NjpcfM&ab_channel=MusicandtheBrainSantaFe">this talk with Dr. Aniruddh Patel</a> (who lead the project). 
    </p>
    <p>
    I think our faculties around rhythm and music are fascinating, and since so much of what makes us human is routed in our ability to sense and extract patterns it should be no surprise that music is deeply ingrained in our cognitive history. 
    </p>
    <p>
      This website is a visualization tool replicating some of what we measured in our study. In practice we used a midi drum pad for high-precision and worked in a controlled environment, but this is a great way to demonstrate the concepts. Originally presented as a game where the best beat-keepers climbed the leaderboards, I'm redesigning to focus on the underlying methodology.
    </p>
    <br>
    <p>
      Plans to improve further:
    <ol  align="left">
      <li>Log tapping stats for aggregate analysis</li>
      <li>Bring back user accounts + introduce a user survey for segmentation (e.g. hearing complications or musical training)</li>
      <li>Visualize more stats (e.g. taps beyond standard deviations)</li>
    </ol>
    </p>
    <h2> Created by Jake Austin </h2>
    <p>
      www.github.com/jakeaustin/tappertracker
    </p>
  </ol>
  </div>
  <div class="col-sm-3"></div>
</div>

<audio id="trackPlayer" autoplay></audio>


