body {
  background-color: #ecf0f1;
}

#start-button-group {
  height: 100%;
}

.start-button {
  width: 16.6%;
  height: 100%;
}

.onex {
  background-color: #2ecc71;
}

.twox {
  background-color: #16BA85;
}

.fourx {
  background-color: #29BEB9;
}

.leaderboard {
  margin: 0 20px;
}
.score-box {
  border-radius: 15%;
  border: 3px solid #ecf0f1;
}

.slow-scores {
  background-color: #2ecc71;
}

.medium-scores {
  background-color: #16BA85;
}

.fast-scores {
  background-color: #29BEB9;
}

#finish-review, #clicker {
  width: 100%;
  height: 100%;
}

#userResponse {
  width: 50%;
  height: 100px;
  margin-left: 25%;
}

#charts {
  text-align: center;
}

#ITI-chart {
 /* border: 2px solid blue;
  border-radius: 15%;*/
}

#RP-chart {
 /* border: 2px solid red;
  border-radius: 15%;*/
}

body {
  text-align: center;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 2;
  border: 2px solid orange;
  color: orange;
  background-color: black;
  width: 10%;
  height: 100px;
  font-weight: bold;
  text-align: center;
  font-size: 80px;
}

.aboutPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  background-color: rgba(100, 50, 100, 0.5);
}

.aboutWrapper {
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
  margin-left: 25%;
  margin-top: 15%;
}

.about-button {
  float: left;
  margin-top: 10px;
}
