#userResponse button {
  width: 50%;
  height: 60px;
}

#charts {
  width: 100%;
  text-align: center;
}

#ITI-chart {
  display: inline-block;
  border: 2px solid blue;
}

#RP-chart {
  display: inline-block;
  border: 2px solid red;
}

#options {
  text-align: center;
  border: 2px solid green;
  height: 25%;
  width: 75%;
  margin-left: 12.5%;
}

body {
  text-align: center;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 45%;
  z-index: 2;
  border: 2px solid orange;
  color: orange;
  background-color: black;
  width: 10%;
  height: 100px;
  font-weight: bold;
  text-align: center;
  font-size: 80px;
}
